#logo:hover{
	font-size: 1.3rem;
	margin-left: 20px;
}
#pilihan:hover{
	padding-left: 10px;
	color: white;
	background-color: grey;
}

/*about*/
#logo2:hover{
	font-size: 1.3rem;
	margin-left: 20px;
}
#pilihan2:hover{
	padding-left: 10px;
	color: white;
	background-color: grey;
}

/*contact*/
#logo3:hover{
	font-size: 1.3rem;
	margin-left: 20px;
}
#pilihan3:hover{
	padding-left: 10px;
	color: white;
	background-color: grey;
}

/*sosmed*/
#logo4:hover{
	font-size: 1.3rem;
	margin-left: 20px;
}
#pilihan4:hover{
	padding-left: 10px;
	color: white;
	background-color: grey;
}

/*gallery*/
#logo5:hover{
	font-size: 1.3rem;
	margin-left: 20px;
}
#pilihan5:hover{
	padding-left: 10px;
	color: white;
	background-color: grey;
}

